In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import numpy as np

c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# Reset display options to the default values if needed
# Set display options to show more rows and columns
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

In [3]:
file1 = 'proglat_2022.xlsx'
file2 = 'proglat_2023.xlsx'

df1 = pd.read_excel(file1)
df1.head()

,kode_course,instansi_klas,instansi,program,program_klas,kejuruan,Subkejuruan,kategori,pelatihan,durasi,JumlahUnitKompetensi,jumMP,sertifikasi,jenjangKKNI,levelKBJI,publikasi,status,tglterbit,taggiat,link,dana,kejuruansub,tglbuat
0,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - CARA CEPAT CAPAI SUKSES,NaN,BISNIS DAN MANAJEMEN,TATA NIAGA / PENJUALAN,Prakerja,online,6.0,1.0,1.0,Tidak,1.0,NaN,private,approved,43929.0,NaN,https://proglat.kemnaker.go.id/programs/bbe800...,NaN,NaN,NaN
1,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 1,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,1.0,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/1a9740...,NaN,NaN,NaN
2,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 2,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,NaN,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/f147dd...,NaN,NaN,NaN
3,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 3,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,NaN,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/d79de4...,NaN,NaN,NaN
4,NaN,LPK SWASTA,LPK BABASTUDIO,3D Animasi,NaN,TEKNOLOGI INFORMASI DAN KOMUNIKASI,OFFICE TOOLS,Prakerja,online,24.0,2.0,2.0,Ya,NaN,NaN,private,approved,43930.0,NaN,https://proglat.kemnaker.go.id/programs/48bbf1...,NaN,NaN,NaN

In [4]:
len(df1)

13089

In [5]:
df2 = pd.read_excel(file2)
df2.head()

,kode_course,instansi_klas,instansi,program,program_klas,kejuruan,kejuruansub,kategori,pelatihan,durasi,jumUK,jumMP,sertifikasi,jenjangKKNI,levelKBJI,publikasi,status,tglterbit,taggiat,link,dana,tglbuat,kkni,kbji,kejuruan2
0,inter.123.abc,Individu,-,WEB DESIGN,Kualifikasi,TEKNIK MANUFAKTUR,MESIN PRODUKSI,Non-reguler,Blended,32,3,1.0,Tidak,3,-,private,Terbit,2019-05-04,NaN,https://proglat.kemnaker.go.id/programs/3fddc0...,APBN,NaN,3,NaN,94. TEKNIK MANUFAKTUR
1,A.010.005,Individu,-,ANGULAR 2+,Kualifikasi,TEKNOLOGI INFORMASI DAN KOMUNIKASI,PEMROGRAMAN,Non-reguler,Blended,15,2,1.0,Tidak,3,-,private,Terbit,2019-05-07,NaN,https://proglat.kemnaker.go.id/programs/c1c344...,APBN,NaN,3,NaN,100. TEKNOLOGI INFORMASI DAN KOMUNIKASI
2,-,Individu,-,PENGELASAN GMAW 1G/PA,Klaster,TEKNIK LAS,LAS INDUSTRI,Non-reguler,Blended,120,4,1.0,Tidak,Non-jenjang,-,private,Terbit,2019-05-23,NaN,https://proglat.kemnaker.go.id/programs/94f0cf...,APBN,NaN,0. Non-jenjang,NaN,92. TEKNIK LAS
3,-,Individu,-,PENGELASAN KOMBINASI ( GTAW-FCAW ) POSISI 1G,Klaster,TEKNIK LAS,LAS INDUSTRI,Non-reguler,Blended,130,4,1.0,Tidak,Non-jenjang,-,private,Terbit,2019-05-23,NaN,https://proglat.kemnaker.go.id/programs/b9a510...,APBN,NaN,0. Non-jenjang,NaN,92. TEKNIK LAS
4,-,Individu,-,ASISTEN PEMROGRAM JUNIOR (JUNIOR ASSISTANT PR...,Kualifikasi,TEKNOLOGI INFORMASI DAN KOMUNIKASI,PEMROGRAMAN,Reguler,Blended,250,8,2.0,Ya,2,-,public,Terbit,2019-05-24,NaN,https://proglat.kemnaker.go.id/programs/aeb65b...,APBN,NaN,2,NaN,100. TEKNOLOGI INFORMASI DAN KOMUNIKASI

In [6]:
len(df2)

10633

In [7]:
df = pd.concat([df1, df2], ignore_index=True)
df.head()

,kode_course,instansi_klas,instansi,program,program_klas,kejuruan,Subkejuruan,kategori,pelatihan,durasi,JumlahUnitKompetensi,jumMP,sertifikasi,jenjangKKNI,levelKBJI,publikasi,status,tglterbit,taggiat,link,dana,kejuruansub,tglbuat,jumUK,kkni,kbji,kejuruan2
0,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - CARA CEPAT CAPAI SUKSES,NaN,BISNIS DAN MANAJEMEN,TATA NIAGA / PENJUALAN,Prakerja,online,6.0,1.0,1.0,Tidak,1.0,NaN,private,approved,43929.0,NaN,https://proglat.kemnaker.go.id/programs/bbe800...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 1,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,1.0,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/1a9740...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 2,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,NaN,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/f147dd...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 3,NaN,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,Prakerja,online,10.0,3.0,3.0,Tidak,NaN,NaN,private,approved,43937.0,NaN,https://proglat.kemnaker.go.id/programs/d79de4...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,LPK SWASTA,LPK BABASTUDIO,3D Animasi,NaN,TEKNOLOGI INFORMASI DAN KOMUNIKASI,OFFICE TOOLS,Prakerja,online,24.0,2.0,2.0,Ya,NaN,NaN,private,approved,43930.0,NaN,https://proglat.kemnaker.go.id/programs/48bbf1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(df)

23722

In [9]:
# Check duplicated data
df.duplicated().sum()

3076

In [10]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [11]:
df.columns

Index(['kode_course', 'instansi_klas', 'instansi', 'program', 'program_klas',
       'kejuruan', 'Subkejuruan', 'kategori', 'pelatihan', 'durasi',
       'JumlahUnitKompetensi', 'jumMP', 'sertifikasi', 'jenjangKKNI',
       'levelKBJI', 'publikasi', 'status', 'tglterbit', 'taggiat', 'link',
       'dana', 'kejuruansub', 'tglbuat', 'jumUK', 'kkni', 'kbji', 'kejuruan2'],
      dtype='object')

In [12]:
selectedCols =['instansi_klas', 'instansi', 'program', 'kejuruan', 'Subkejuruan', 'jenjangKKNI', 'levelKBJI' ]
df_selected = df[selectedCols]
df_selected.head()

,instansi_klas,instansi,program,kejuruan,Subkejuruan,jenjangKKNI,levelKBJI
0,LPK SWASTA,LPK PRO-DIGI,3 CS - CARA CEPAT CAPAI SUKSES,BISNIS DAN MANAJEMEN,TATA NIAGA / PENJUALAN,1.0,NaN
1,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 1,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,1.0,NaN
2,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 2,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,NaN,NaN
3,LPK SWASTA,LPK PRO-DIGI,3 CS - Cara Cepat Capai Sukses - Materi 3,BISNIS DAN MANAJEMEN,KEWIRAUSAHAAN,NaN,NaN
4,LPK SWASTA,LPK BABASTUDIO,3D Animasi,TEKNOLOGI INFORMASI DAN KOMUNIKASI,OFFICE TOOLS,NaN,NaN

In [13]:
df_selected.tail()

,instansi_klas,instansi,program,kejuruan,Subkejuruan,jenjangKKNI,levelKBJI
23717,-,-,Warehouse Crew Development,-,NaN,-,-
23718,-,-,WAREHOUSE CREW DEVELOPMENT,DATABASE,NaN,-,-
23719,LPK,LPK CIPTA KARYA INTELEKTUAL (CKI CENTER),Website Tanpa Coding Menggunakan Aplikasi Word...,PEMROGRAMAN,NaN,-,-
23720,-,-,WOOD WORKING,KONSTRUKSI KAYU,NaN,-,-
23721,LPK,VOKRAF,YouTube Content Creator,-,NaN,-,-

In [14]:
for i in selectedCols:
    print(i, '\t:', len(df_selected.value_counts(i)))

instansi_klas 	: 12
instansi 	: 335
program 	: 3732
kejuruan 	: 126
Subkejuruan 	: 91
jenjangKKNI 	: 14
levelKBJI 	: 90

In [15]:
df_selected.value_counts('levelKBJI')

levelKBJI
-                     5132
216                    200
753                    157
721                    130
514                    125
751                    117
723                    100
243                     97
741                     91
351                     80
731                     76
513                     69
264                     53
911                     51
411                     48
752                     47
611                     46
242                     43
742                     41
511                     40
311                     38
251                     28
413                     27
834                     27
812                     25
265                     24
532                     24
512                     23
252                     22
422                     22
232                     22
352                     22
141                     22
441                     21
524                     18
612                     17
622                     17
516                     15
325                     15
122                     14
754                     13
712                     12
921                     12
815                     10
343                     10
816                      9
711                      9
133                      9
613                      9
334                      9
832                      8
312                      8
931                      8
941                      8
813                      8
732                      8
515                      7
241                      7
215                      6
631                      5
134                      5
713                      5
522                      5
214                      5
331                      5
633                      4
821                      4
222                      4
432                      4
431                      4
912                      4
341                      4
333                      4
632                      3
121                      3
143                      3
531                      3
817                      2
213                      2
811                      2
261                      2
814                      2
313                      2
342                      2
412                      2
722                      2
541                      2
Level KBJI Digit 4       2
323                      1
933                      1
dtype: int64

In [16]:
df_selected[df_selected['levelKBJI'] == 'Level KBJI Digit 4']

,instansi_klas,instansi,program,kejuruan,Subkejuruan,jenjangKKNI,levelKBJI
1327,LPK SWASTA,PUSDIKLAT PAL INDONESIA,MEMBUAT PROGRAM CNC 2D DENGAN SOFTWARE MASTERCAM,TEKNIK MANUFAKTUR,CNC,NaN,Level KBJI Digit 4
4787,LPK SWASTA,PUSDIKLAT PAL INDONESIA,MEMBUAT PROGRAM CNC 2D DENGAN SOFTWARE MASTERCAM,TEKNIK MANUFAKTUR,CNC,NaN,Level KBJI Digit 4

In [18]:
len(df_selected)

20646

In [19]:
# Replace 'Level KBJI Digit 4' with NaN in 'levelKBJI' column
df_selected['levelKBJI'] = df_selected['levelKBJI'].replace('Level KBJI Digit 4', np.nan)
df_selected['levelKBJI'] = df_selected['levelKBJI'].replace('-', np.nan)

C:\Users\user\AppData\Local\Temp\ipykernel_22280\3235618572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['levelKBJI'] = df_selected['levelKBJI'].replace('Level KBJI Digit 4', np.nan)
C:\Users\user\AppData\Local\Temp\ipykernel_22280\3235618572.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['levelKBJI'] = df_selected['levelKBJI'].replace('-', np.nan)

In [20]:
df_selected.isna().sum()

instansi_klas     4057
instansi          4125
program              1
kejuruan           424
Subkejuruan      14530
jenjangKKNI      12794
levelKBJI        18326
dtype: int64

In [21]:


df_selected = df_selected.dropna(subset=['levelKBJI'])
df_selected = df_selected.dropna(subset=['jenjangKKNI'])
df_selected['levelKBJI Group'] = df_selected['levelKBJI'].astype(str).str[0].astype(int)
df_selected.head()

,instansi_klas,instansi,program,kejuruan,Subkejuruan,jenjangKKNI,levelKBJI,levelKBJI Group
13094,Admin Pusat,Dit. Stankomproglat,COMPUTER OPERATOR ASSISTANT,TEKNOLOGI INFORMASI DAN KOMUNIKASI,NaN,Non-jenjang,411,4
13197,Admin Pusat,Dit. Stankomproglat,INSTALASI FIBER OPTIK,TEKNIK ELEKTRONIKA,NaN,Non-jenjang,742,7
13205,Admin Pusat,Dit. Stankomproglat,Pemasangan Instalasi Listrik Bangunan Sederhana,TEKNIK LISTRIK,NaN,Non-jenjang,741,7
13211,Admin Pusat,Dit. Stankomproglat,FITTER STRUCTURE,TEKNIK LAS,NaN,Non-jenjang,721,7
13215,Admin Pusat,Dit. Stankomproglat,Pembudidayaan Domba,PERTANIAN,NaN,Non-jenjang,612,6

In [ ]:
df_selected.describe()

In [ ]:
cloudCols = ['instansi', 'program']
for i in cloudCols:
    text_data = ' '.join(df_selected[i].astype(str))

    # List of words to remove
    words_to_remove = ['DUDI', 'dan', 'Untuk', 'Menjadi', 'untuk', 'DAN']  # Add more words to remove as needed

    # Remove specified words from the text
    for word in words_to_remove:
        text_data = text_data.replace(word, '')

    # Generate the word cloud
    wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text_data)

    # Display the word cloud using Matplotlib
    plt.figure(figsize=(10, 5))
    plt.imshow(wordcloud, interpolation='bilinear')
    plt.axis('off')

In [ ]:
df_selected['jenjangKKNI'].value_counts().plot(kind='bar')
plt.title(f'Distribusi jenjangKKNI')

In [22]:
len(df_selected)

2270

In [ ]:
df_selected['levelKBJI Group'].value_counts().plot(kind='bar')
plt.title(f'Distribusi levelKBJI')